@inherits FluxorComponent

<select @bind="@SelectedEmployeeId">

    @foreach (var employee in State.Value.Employees)
    {
        <option value=@employee.Id>@employee.FirstName @employee.LastName</option>
    }

</select>

@if (Parameters != null && Parameters.Any())
{
    <select @bind="@SelectedYear">

        @foreach (var parameter in Parameters)
        {
            <option value=@parameter.Year>@parameter.Year</option>
        }

    </select>
}

@if (AnnualGrossSalary.HasValue)
{
    <strong>Gross Salary:</strong>
    <input @bind-value="@AnnualGrossSalary" />
}

<button @onclick="Calculate" class="btn btn-primary">Calculate</button>
