@inherits FluxorComponent

<div class="container">
    <form>
        <label>Employee</label>
        <select @bind="@SelectedEmployeeId" name="Employee" pla>
            @foreach (var employee in State.Value.Employees)
            {
                <option value=@employee.Id>@employee.FirstName @employee.LastName</option>
            }
        </select>

        <label>Year</label>
        <select @bind="@SelectedYear">
            @foreach (var parameter in Parameters)
            {
                <option value=@parameter.Year>@parameter.Year</option>
            }
        </select>

        <label>Gross Salary</label>
        <input @bind-value="@AnnualGrossSalary" />
    </form>

    <button @onclick="Calculate" class="btn btn-color">Calculate</button>
</div>
